body{
    background-color: red;
}

.likes{
    color: white;
    margin-bottom: 5px;
}

.dislikes{
    color: lawngreen;
}

.item{
    text-decoration: underline;
}

.item{
    text-decoration: overline;
}

#item1{
    text-decoration: underline;
    color: palegoldenrod;
}

#item5{
    color: black;
}